body {
  margin: 0;
  font-family: Arial, sans-serif;
}
.app {
  text-align: center;
  background-color: #D6C0B3;
  padding: 20px;
  min-height: 100vh;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  transition: background-color 0.5s, color 0.5s;
}
